.title_box h1:before {
    content: '\1F451';
}

.title_box h1:after {
    content: '\1F451';
}

.title_box {
	background: linear-gradient(0.2turn, #8360c3, #2ebf91);
}

.user_online_box, .title_box .right_lnk, .title_box {
	color: white;
}

.title_box .icon-envelope {
	background-image: url(//static.schools.by/images/icons-white.png);
}
